flows.json
[
    {
        "id": "d35e37bcd0b9542e",
        "type": "tab",
        "label": "HTTP Response JSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "d35e37bcd0b9542e",
        "name": "",
        "url": "/hello-json",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4e8237da.b17dc8"
            ]
        ]
    },
    {
        "id": "4e8237da.b17dc8",
        "type": "template",
        "z": "d35e37bcd0b9542e",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "65401623.9abfe8"
            ]
        ]
    },
    {
        "id": "65401623.9abfe8",
        "type": "change",
        "z": "d35e37bcd0b9542e",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "f7d3e35a.082c2"
            ]
        ]
    },
    {
        "id": "f7d3e35a.082c2",
        "type": "http response",
        "z": "d35e37bcd0b9542e",
        "name": "",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ea72ef6d5458fbc",
        "type": "comment",
        "z": "d35e37bcd0b9542e",
        "name": "Exemplo",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    }
]
