flows.json
[
    {
        "id": "2fc5da9320b3050a",
        "type": "tab",
        "label": "openweathermap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "827dd590cb18ea65",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 8-21 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "85e4b0434a7926f4"
            ]
        ]
    },
    {
        "id": "b71e41f59f84d258",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_onecall",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "d374c19841357664",
                "d149685d4488b553"
            ]
        ]
    },
    {
        "id": "d374c19841357664",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cacac2d656773f1",
        "type": "comment",
        "z": "2fc5da9320b3050a",
        "name": "Le Previsao do Tempo Periodicamente do site openweathermap.org",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "2e54a41425df5703",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_weather",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "dd15d0b19c20e65d",
                "e78d002a0d8de04c"
            ]
        ]
    },
    {
        "id": "dd15d0b19c20e65d",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b727fc268984b1f",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 8-21 * * *",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "0397836a0c213fa7"
            ]
        ]
    },
    {
        "id": "0ee94793e339f0f1",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_forecast",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "39581fdd3ebbc8b9",
                "ebeaa58629441e01"
            ]
        ]
    },
    {
        "id": "39581fdd3ebbc8b9",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "baa512622431c2d9",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 8-21 * * *",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "766f79c7a001e922"
            ]
        ]
    },
    {
        "id": "4979786942a48dbe",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/onecall",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "abe9102cd0eb0bd7"
            ]
        ]
    },
    {
        "id": "e1dab601406654c8",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "6d702ef817415440",
        "type": "comment",
        "z": "2fc5da9320b3050a",
        "name": "Retorna dados Weather Station para uma requisição Web HTTP GET",
        "info": "",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "abe9102cd0eb0bd7",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_onecall",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_onecall = global.get(\"vOnecall\");\n\nmsg.payload = my_onecall;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 620,
        "wires": [
            [
                "e1dab601406654c8"
            ]
        ]
    },
    {
        "id": "ebeaa58629441e01",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_forecast",
        "func": "// cria variavel global\nvar my_forecast = global.get(\"vForecast\") || {};\n\nmy_forecast = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vForecast\", my_forecast)\n\n\nmsg.payload = my_forecast;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "40c419804fd3d2d3"
            ]
        ]
    },
    {
        "id": "40c419804fd3d2d3",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "9dd9fbe63410f5f4",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/weather",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "0ca4ecf6a259834f"
            ]
        ]
    },
    {
        "id": "78a4eba60ef21df3",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "0ca4ecf6a259834f",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_weather",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_weather = global.get(\"vWeather\");\n\nmsg.payload = my_weather;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 740,
        "wires": [
            [
                "78a4eba60ef21df3"
            ]
        ]
    },
    {
        "id": "3bad4daec32b7a02",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/forecast",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "d310ada977c762f1"
            ]
        ]
    },
    {
        "id": "b6586d7d36845020",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 800,
        "wires": []
    },
    {
        "id": "d310ada977c762f1",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_forecast",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_forecast = global.get(\"vForecast\");\n\nmsg.payload = my_forecast;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 860,
        "wires": [
            [
                "b6586d7d36845020"
            ]
        ]
    },
    {
        "id": "e78d002a0d8de04c",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_weather",
        "func": "// cria variavel global\nvar my_weather = global.get(\"vWeather\") || {};\n\nmy_weather = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vWeather\", my_weather)\n\n\nmsg.payload = my_weather;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "c921f58a5d25dae9"
            ]
        ]
    },
    {
        "id": "c921f58a5d25dae9",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "d149685d4488b553",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_onecall",
        "func": "// cria variavel global\nvar my_onecall = global.get(\"vOnecall\") || {};\n\nmy_onecall = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vOnecall\", my_onecall)\n\n\nmsg.payload = my_onecall;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "f78ce241b38a0922"
            ]
        ]
    },
    {
        "id": "f78ce241b38a0922",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "85e4b0434a7926f4",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url onecall",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_ONECALL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b71e41f59f84d258"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    },
    {
        "id": "0397836a0c213fa7",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url weather",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_WEATHER",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "2e54a41425df5703"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    },
    {
        "id": "766f79c7a001e922",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url forecast",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_FORECAST",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "0ee94793e339f0f1"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    }
]