flows.json
[
    {
        "id": "d35e37bcd0b9542e",
        "type": "tab",
        "label": "HTTP Response JSON",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3c1975f87cd0cabf",
        "type": "tab",
        "label": "Save all changes ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "73f0168ecf83ca6b",
        "type": "tab",
        "label": "Not Sleep my Dyno",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2fc5da9320b3050a",
        "type": "tab",
        "label": "openweathermap",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c8107088.37ef9",
        "type": "http in",
        "z": "d35e37bcd0b9542e",
        "name": "",
        "url": "/hello-json",
        "method": "get",
        "swaggerDoc": "",
        "x": 100,
        "y": 160,
        "wires": [
            [
                "4e8237da.b17dc8"
            ]
        ]
    },
    {
        "id": "4e8237da.b17dc8",
        "type": "template",
        "z": "d35e37bcd0b9542e",
        "name": "page",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{ \"Hello\": \"World\" }",
        "x": 250,
        "y": 160,
        "wires": [
            [
                "65401623.9abfe8"
            ]
        ]
    },
    {
        "id": "65401623.9abfe8",
        "type": "change",
        "z": "d35e37bcd0b9542e",
        "name": "Set Headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.content-type",
                "pt": "msg",
                "to": "application/json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 270,
        "y": 260,
        "wires": [
            [
                "f7d3e35a.082c2"
            ]
        ]
    },
    {
        "id": "f7d3e35a.082c2",
        "type": "http response",
        "z": "d35e37bcd0b9542e",
        "name": "",
        "x": 430,
        "y": 260,
        "wires": []
    },
    {
        "id": "1ea72ef6d5458fbc",
        "type": "comment",
        "z": "d35e37bcd0b9542e",
        "name": "Exemplo",
        "info": "",
        "x": 160,
        "y": 100,
        "wires": []
    },
    {
        "id": "9c09e087.a48e7",
        "type": "http request",
        "z": "3c1975f87cd0cabf",
        "name": "PUT",
        "method": "PUT",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/{{gitUsername}}/{{gitRepo}}/contents/{{filename}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 280,
        "wires": [
            [
                "666e944b12fe9cb2"
            ]
        ]
    },
    {
        "id": "1dc8605f.7ac4e",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set headers",
        "rules": [
            {
                "t": "set",
                "p": "headers",
                "pt": "msg",
                "to": "{\"User-Agent\":\"PostmanRuntime/7.29.0\"}",
                "tot": "json"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Authorization",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 220,
        "wires": [
            [
                "9c09e087.a48e7"
            ]
        ]
    },
    {
        "id": "ba9ea225.c2fbe",
        "type": "http request",
        "z": "3c1975f87cd0cabf",
        "name": "GET",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.github.com/repos/{{gitUsername}}/{{gitRepo}}/contents/{{filename}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "x": 590,
        "y": 100,
        "wires": [
            [
                "e585584fd416aab4",
                "666e944b12fe9cb2"
            ]
        ]
    },
    {
        "id": "ae8ddf10.868fd",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set msg vars",
        "rules": [
            {
                "t": "set",
                "p": "headers.User-Agent",
                "pt": "msg",
                "to": "PostmanRuntime/7.29.0",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "Authorization",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "gitRepo",
                "pt": "msg",
                "to": "GITHUB_REPO",
                "tot": "env"
            },
            {
                "t": "set",
                "p": "gitUsername",
                "pt": "msg",
                "to": "GITHUB_USERNAME",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 40,
        "wires": [
            [
                "ba9ea225.c2fbe"
            ]
        ]
    },
    {
        "id": "819e400b.96d61",
        "type": "comment",
        "z": "3c1975f87cd0cabf",
        "name": "GitHub Token",
        "info": "Set GITHUB_TOKEN in [Heroku Config Vars](https://dashboard.heroku.com/apps/nodered-on-cloud/settings).\nSee [Personal access tokens](https://github.com/settings/tokens) page (repo).",
        "x": 110,
        "y": 280,
        "wires": []
    },
    {
        "id": "f4f0342516f4afea",
        "type": "file in",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "filename": "filename",
        "filenameType": "msg",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "encoding": "none",
        "allProps": false,
        "x": 880,
        "y": 160,
        "wires": [
            [
                "6a2bc486f2838313"
            ]
        ]
    },
    {
        "id": "e585584fd416aab4",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "rules": [
            {
                "t": "move",
                "p": "payload.sha",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 160,
        "wires": [
            [
                "f4f0342516f4afea"
            ]
        ]
    },
    {
        "id": "6a2bc486f2838313",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "set msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"content\": $base64encode(payload)}",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "payload.sha",
                "pt": "msg",
                "to": "temp",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.message",
                "pt": "msg",
                "to": "Commit from nodered-on-cloud",
                "tot": "str"
            },
            {
                "t": "delete",
                "p": "temp",
                "pt": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 220,
        "wires": [
            [
                "1dc8605f.7ac4e"
            ]
        ]
    },
    {
        "id": "f92e1e8dffe158f7",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "flows.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "flows.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 40,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "98b5b9035834b822",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "flows_cred.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "flows_cred.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 120,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "7a7584df89bbce4a",
        "type": "inject",
        "z": "3c1975f87cd0cabf",
        "name": "SAVE",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "88f6fe95e0373dfa"
            ]
        ]
    },
    {
        "id": "71c40b7254660299",
        "type": "change",
        "z": "3c1975f87cd0cabf",
        "name": "package.json",
        "rules": [
            {
                "t": "set",
                "p": "filename",
                "pt": "msg",
                "to": "package.json",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "666e944b12fe9cb2",
        "type": "debug",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 420,
        "wires": []
    },
    {
        "id": "81154a985f4a1efe",
        "type": "inject",
        "z": "3c1975f87cd0cabf",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 460,
        "y": 360,
        "wires": [
            [
                "ae8ddf10.868fd"
            ]
        ]
    },
    {
        "id": "88f6fe95e0373dfa",
        "type": "function",
        "z": "3c1975f87cd0cabf",
        "name": "Authorization",
        "func": "msg.Authorization = 'Basic ' + Buffer.from(env.get('GITHUB_USERNAME') + \":\" + env.get('GITHUB_TOKEN')).toString('base64');\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 110,
        "y": 100,
        "wires": [
            [
                "f92e1e8dffe158f7",
                "98b5b9035834b822",
                "71c40b7254660299"
            ]
        ]
    },
    {
        "id": "693ea7f1c2506585",
        "type": "http request",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 200,
        "wires": [
            [
                "737ac6b542f12df3"
            ]
        ]
    },
    {
        "id": "568dc6f91363b3fd",
        "type": "inject",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/10 8-21 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 100,
        "wires": [
            [
                "0607036b8aae29a7"
            ]
        ]
    },
    {
        "id": "737ac6b542f12df3",
        "type": "debug",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "x": 390,
        "y": 260,
        "wires": []
    },
    {
        "id": "21aeefa0e3254936",
        "type": "http in",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "url": "/alive",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 103,
        "y": 289,
        "wires": [
            [
                "cb364b89d1e4359d",
                "8bb97581530a2de6"
            ]
        ]
    },
    {
        "id": "cb364b89d1e4359d",
        "type": "http response",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "statusCode": "200",
        "headers": {
            "hey": "alive"
        },
        "x": 262,
        "y": 339,
        "wires": []
    },
    {
        "id": "6d0d676181e10edc",
        "type": "comment",
        "z": "73f0168ecf83ca6b",
        "name": "send request http to me",
        "info": "intervalo 10 min",
        "x": 160,
        "y": 40,
        "wires": []
    },
    {
        "id": "0607036b8aae29a7",
        "type": "change",
        "z": "73f0168ecf83ca6b",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_ALIVE",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 140,
        "wires": [
            [
                "693ea7f1c2506585"
            ]
        ]
    },
    {
        "id": "fbda3177da374d63",
        "type": "debug",
        "z": "73f0168ecf83ca6b",
        "name": "log dyno health",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 420,
        "wires": []
    },
    {
        "id": "8bb97581530a2de6",
        "type": "change",
        "z": "73f0168ecf83ca6b",
        "name": "pass timestamp",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "date"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 420,
        "wires": [
            [
                "fbda3177da374d63"
            ]
        ]
    },
    {
        "id": "9277ad926358b9a7",
        "type": "comment",
        "z": "73f0168ecf83ca6b",
        "name": "return response http to me",
        "info": "",
        "x": 190,
        "y": 240,
        "wires": []
    },
    {
        "id": "827dd590cb18ea65",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 8-21 * * *",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "85e4b0434a7926f4"
            ]
        ]
    },
    {
        "id": "b71e41f59f84d258",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_onecall",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 80,
        "wires": [
            [
                "d374c19841357664",
                "d149685d4488b553"
            ]
        ]
    },
    {
        "id": "d374c19841357664",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 80,
        "wires": []
    },
    {
        "id": "7cacac2d656773f1",
        "type": "comment",
        "z": "2fc5da9320b3050a",
        "name": "Le Previsao do Tempo Periodicamente do site openweathermap.org",
        "info": "",
        "x": 320,
        "y": 20,
        "wires": []
    },
    {
        "id": "2e54a41425df5703",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_weather",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "dd15d0b19c20e65d",
                "e78d002a0d8de04c"
            ]
        ]
    },
    {
        "id": "dd15d0b19c20e65d",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 220,
        "wires": []
    },
    {
        "id": "3b727fc268984b1f",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "*/30 8-21 * * *",
        "once": true,
        "onceDelay": "2",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "0397836a0c213fa7"
            ]
        ]
    },
    {
        "id": "0ee94793e339f0f1",
        "type": "http request",
        "z": "2fc5da9320b3050a",
        "name": "get_forecast",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 510,
        "y": 360,
        "wires": [
            [
                "39581fdd3ebbc8b9",
                "ebeaa58629441e01"
            ]
        ]
    },
    {
        "id": "39581fdd3ebbc8b9",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 360,
        "wires": []
    },
    {
        "id": "baa512622431c2d9",
        "type": "inject",
        "z": "2fc5da9320b3050a",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "0 8-21 * * *",
        "once": true,
        "onceDelay": "5",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 360,
        "wires": [
            [
                "766f79c7a001e922"
            ]
        ]
    },
    {
        "id": "4979786942a48dbe",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/onecall",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 560,
        "wires": [
            [
                "abe9102cd0eb0bd7"
            ]
        ]
    },
    {
        "id": "e1dab601406654c8",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 560,
        "wires": []
    },
    {
        "id": "6d702ef817415440",
        "type": "comment",
        "z": "2fc5da9320b3050a",
        "name": "Retorna dados Weather Station para uma requisição Web HTTP GET",
        "info": "",
        "x": 310,
        "y": 500,
        "wires": []
    },
    {
        "id": "abe9102cd0eb0bd7",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_onecall",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_onecall = global.get(\"vOnecall\");\n\nmsg.payload = my_onecall;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 620,
        "wires": [
            [
                "e1dab601406654c8"
            ]
        ]
    },
    {
        "id": "ebeaa58629441e01",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_forecast",
        "func": "// cria variavel global\nvar my_forecast = global.get(\"vForecast\") || {};\n\nmy_forecast = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vForecast\", my_forecast)\n\n\nmsg.payload = my_forecast;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 420,
        "wires": [
            [
                "40c419804fd3d2d3"
            ]
        ]
    },
    {
        "id": "40c419804fd3d2d3",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 420,
        "wires": []
    },
    {
        "id": "9dd9fbe63410f5f4",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/weather",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 680,
        "wires": [
            [
                "0ca4ecf6a259834f"
            ]
        ]
    },
    {
        "id": "78a4eba60ef21df3",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 680,
        "wires": []
    },
    {
        "id": "0ca4ecf6a259834f",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_weather",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_weather = global.get(\"vWeather\");\n\nmsg.payload = my_weather;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 740,
        "wires": [
            [
                "78a4eba60ef21df3"
            ]
        ]
    },
    {
        "id": "3bad4daec32b7a02",
        "type": "http in",
        "z": "2fc5da9320b3050a",
        "name": "",
        "url": "/forecast",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 110,
        "y": 800,
        "wires": [
            [
                "d310ada977c762f1"
            ]
        ]
    },
    {
        "id": "b6586d7d36845020",
        "type": "http response",
        "z": "2fc5da9320b3050a",
        "name": "",
        "x": 350,
        "y": 800,
        "wires": []
    },
    {
        "id": "d310ada977c762f1",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "read_forecast",
        "func": "// le json com a previsao do tempo da variavel global\nvar my_forecast = global.get(\"vForecast\");\n\nmsg.payload = my_forecast;\n\nreturn msg",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 860,
        "wires": [
            [
                "b6586d7d36845020"
            ]
        ]
    },
    {
        "id": "e78d002a0d8de04c",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_weather",
        "func": "// cria variavel global\nvar my_weather = global.get(\"vWeather\") || {};\n\nmy_weather = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vWeather\", my_weather)\n\n\nmsg.payload = my_weather;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 280,
        "wires": [
            [
                "c921f58a5d25dae9"
            ]
        ]
    },
    {
        "id": "c921f58a5d25dae9",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 280,
        "wires": []
    },
    {
        "id": "d149685d4488b553",
        "type": "function",
        "z": "2fc5da9320b3050a",
        "name": "save_onecall",
        "func": "// cria variavel global\nvar my_onecall = global.get(\"vOnecall\") || {};\n\nmy_onecall = msg.payload\n\n// salva json com a previao do tempo na variavel global\nglobal.set(\"vOnecall\", my_onecall)\n\n\nmsg.payload = my_onecall;\nreturn msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 140,
        "wires": [
            [
                "f78ce241b38a0922"
            ]
        ]
    },
    {
        "id": "f78ce241b38a0922",
        "type": "debug",
        "z": "2fc5da9320b3050a",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 140,
        "wires": []
    },
    {
        "id": "85e4b0434a7926f4",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url onecall",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_ONECALL",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "b71e41f59f84d258"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    },
    {
        "id": "0397836a0c213fa7",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url weather",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_WEATHER",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 220,
        "wires": [
            [
                "2e54a41425df5703"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    },
    {
        "id": "766f79c7a001e922",
        "type": "change",
        "z": "2fc5da9320b3050a",
        "name": "set url forecast",
        "rules": [
            {
                "t": "set",
                "p": "url",
                "pt": "msg",
                "to": "MY_URL_FORECAST",
                "tot": "env"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "0ee94793e339f0f1"
            ]
        ],
        "info": "Variavel de ambiente do Heroku \r\ncom o endereço da URL."
    }
]